@import 'utils.css';

*{
    box-sizing: border-box;
}


/* NAVBAR  */



#menu-hamb {
    position: absolute;
    top:10px;
    left:20px;
    z-index: 2;
    display:inline-block;
}

.fa-bars {
    font-size: 30px;
    color: #FAAF40;
}

#main {
    position: relative;
    width: 100%;
}

#menu {
    display: block;
    position:fixed;
    z-index: 1;
    text-align: center;
    height: 100px;
    width: 100%;
    text-align:right;
    top: 0;
}

.menu-btn {
    padding: 15px 30px;
    margin: 0px 10px 0 20px;
    display: inline-block;
    font-size: 12px;
    text-decoration: none !important;
}

.menu-btn:hover {
    color: #000;
    background-color: #fff;
}

.background-mobile {
    position: fixed;
    width:100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.7);
    z-index:5;
}

@media all and (min-width: 680px) {
    #main {
        position: relative;
        width: 100%;
    }
    
    #my-nav {
        position: relative;
    }
    
    .menu-btn:last-child {
        margin-right: 30px;
    }
 
}
    @media all and (min-width: 768px) {
        #menu-hamb {
            display:none;
        }

        .background-mobile {
            position:absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            z-index:2;
        }
    }

/* PRESENTATION */

.image-site:before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(to right,rgba(26, 70, 153, 0.801) 15%,rgba(145, 210, 170, 0.2));
    z-index:0;
}

.image-site {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/firstimage/320px.png");
    background-size: cover;
}

.text-presentation {
    position: absolute;
    color: #fff;
    top: 20%;
    left: 7%;
    z-index:1;
    animation: appeartext 3s ease;
}

.text-presentation h1 {
    font-size: 50px;
    letter-spacing: 1px;
    border-bottom: 2px solid #fff;
}

.under-menu {
    top:0px;
    left:0px;
    display:none;
    z-index:5;
    list-style: none;
}

.text-presentation p {
   visibility:hidden;
}

#mobile-presentation {
    position: absolute;
    top:80px;
    font-size: 25px;
    visibility: visible;
}

#mobile-menu {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.mobile-list-menu {
    z-index:3;
    margin-top:100px;
    left:0px;
    text-decoration:none;
    display:inline-block;
    animation: appearMenu 1s ease;
}

@keyframes appearMenu{
    from {
        margin-left: -500px;
    } to {
        margin-left: 0px;
    }
}

.mobile-list-menu a {
    text-decoration: none;
    
}

.mobile-list-menu a li{
    margin-bottom: 25px;
    list-style: none;
    color:#FAAF40;
    z-index:1;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1.5;
    border-bottom: 1px solid #FAAF40;
}



@media all and (min-width: 680px) {
    .image-site {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url("../images/firstimage/568px.png");
        background-size: cover;
        background-position: center center;
    }
}

@media all and (min-width: 780px) {
    
    .image-site {
        background-image: url("../images/firstimage/man-holding-film-camera-2925312.jpg")   ;
    }

    #mobile-presentation {
        visibility: hidden;
    }

    .under-menu {
        
        position: absolute;
        top:300px;
        left:50px;
        display: inline;
        z-index:2;
        animation: exitmenu 3s ease;
    }

    @keyframes exitmenu {
        from {
            margin-left: -1000px;
        }
    
        to{
            margin-left: 0px;
        }
    }
    
    .under-menu a li {
        display: inline-block;
        margin: 20px;
        padding: 10px;
        font-weight: 600;
        text-align:center;
        background-color: #FAAF40;
        color:#fff;
    }
    
    .under-menu li:hover{
        background-color: #fff;
        color: #000;
    }

    .text-presentation {
        position: absolute;
        color: #fff;
        top: 20%;
        left: 7%;
        z-index:2;
        animation: appeartext 3s ease;
    }
    
    @keyframes appeartext {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    }
    
    .text-presentation h1 {
        font-size: 100px;
        letter-spacing: 1px;
        border-bottom: 2px solid #fff;
    }
    
    .text-presentation p {
        font-size: 20px;
        color:rgba(255, 255, 255, 0.719);
        text-align: center;
        letter-spacing: 1px;
        visibility: visible;
    }

    .mobile-list-menu {
        margin-top: 0px;
    }

    .mobile-list-menu a li {
        font-size: 16px;
    }

    #mobile-menu {
        position: absolute;
    }

    @media all and (min-width: 1240px) {
        .under-menu a li {
            padding: 20px;
        }
    }
}

/* MOVIE HALL  */

.row {
    position:absolute;
}

#movies {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #000000;
}

.section-title {
    margin-bottom: 60px;
    padding-bottom:20px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
}

.section-title span {
    display: block;
    border-bottom: 2px solid #fff;
}

#film-category {
    padding:10px;
}

.films-title {
    color:#fff;
}

#film-gallery {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 80px;
}

#slideshow {
    position: relative;
    width:100%;
    z-index:0;
    overflow: hidden;
}

#inner-slide{
    position: relative;
    width: 100%;
    height: 100%;
}

#film-gallery-2 {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 80px;    
}

#slideshow-2 {
    position: relative;
    width:100%;
    z-index:0;
    overflow: hidden;
}

#inner-slide-2{
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    margin: 0 -2.5px;
    padding: 0 10px;
    display: inline-block;
}

.image-group {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 150%;
    width: 100%;   
}

.image-group-2 {
    margin-right: 10px;
    cursor:pointer;
    position:relative;   
}

.image-group:hover {
    overflow: hidden;
    object-fit: cover;
    animation: moviescale 2s infinite;
    z-index: 2;
}

@keyframes moviescale {
    from {
        transform:scale(1)
    }
    to {
        transform: scale(1.2);
    }
}

.nav-gallery {
    position: absolute;
    height: 100%;
    z-index:1;
    width: 50px;
    text-align: center;
    padding-bottom: inherit;
    display:flex;
    align-items:center;
    justify-content: center;
}

.gallery-nav-prev {
    left:10px;
    z-index:1;
    background-color: rgb(0,0,0, 0.6);
}

.gallery-nav-prev:hover {
    background-color: #3a599eda;
    opacity:0.9;
}

.gallery-nav-next {
    right:0px;
    z-index: 1;
    background-color: rgb(0,0,0, 0.6);
}

.gallery-nav-next:hover {
    background-color: #3a599eda;
    opacity:0.9;
}

.gallery-nav-btn {
    font-size: 3rem;
    color:#fff;
}

.nav-gallery {
    position:absolute;
}


/* VIDEO MOVIE */

#brand-video {
    position: relative;
    width:100%;
    display: block;
    overflow: hidden;
}

.short-movie {
    width:100%;
    height: 600px;
    position: relative;
    
}

.short-movie:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background: linear-gradient(to right,rgba(26, 145, 153, 0.801) 15%,rgba(210,180,145,0.2));
}

.autoplay {
    width: 0%;
}

.youmovie {
    top: 20%;
    left:10%;
    position: absolute;
    color: #fff;
}

.youmovie h2 {
    font-size: 25px;
    display: block;
    width: 90%;
}


#brand-video .btn-film-send {
    display: inline-block;
    padding: 20px;
    font-weight: 600;
}

.btn-film-send:hover {
    color: #000;
    background-color: #fff;
}

@media all and (min-width: 1240px) {
    .autoplay {
        opacity: 0.5;
        position: absolute;
        min-width: 100%; 
        min-height: 100%;
        top: 0;
        left:0;
        z-index: -5;
        overflow:hidden;
        background-size: cover;
    }

    .youmovie h2 {
        font-size: 40px;
    }
}


/*REVIEWS*/

#reviews {
    color: #fff;
    border-bottom: 2px solid #fff;
    letter-spacing: 2px;
    font-weight: 800;
    background-color: #000;
    padding-top: 100px;
    text-align: center;
}

#our-reviews {
    list-style: none;
    margin-bottom: 100px;
}

.image-review {
    margin-right: 10px;
    cursor:pointer;
    width: 200px;
    height:300px;
    opacity: 0.6;
    padding-right: 20px;
}

.image-review:hover {
    opacity: 1;
}

.review {
    display: inline-block;
}

.stars {
    margin-top: 20px;
}

.fa-star {
    font-size: 25px;
    color: #fff;
}

.fa-star-half {
    font-size: 25px;
}

/* CONTACT-US */

#contact-us {
    margin-top: 20px;
    text-align: center;
}

.fa-envelope {
    font-size: 40px;
}

#button {
    display: inline;
}

.sendBtn {
    background-color: #FAAF40;
    color: #fff;
    border:none;
    height: 45px;
    width: 70px;
}

#contacts{
    position:relative;
    text-align: center;
    margin-top: 50px;
}

.image-contact {
    margin-top: 30px;
    position: relative;
    width: 60%;
}

#email-details {
    margin-top: 50px;
}

#email-details h5 {
    padding: 15px;
}

#email-details a {
    display:block;
    margin-bottom: 20px;
}

@media all and (min-width: 320px) {
    .image-contact {
        width: 60%;
    }
}

/* MODAL */

#modal-overlay-log {
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 100;
    display:flex;
    align-items:center;
    justify-content: center;
    display: none;
}

#modal {
    position: relative;
    width:90%;
    height: 90%;
    background-color: #fff;
    text-align: center;
    z-index: 1;
}

.modal-title {
    text-align: center;
}

.modal-title h1 {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 50px;
    margin-top: 20px;
    border-bottom: 2px solid #FAAF40;
    display: inline-block;
}

#login-form {
    text-align: center;
}

.input-form{
    width: 400px;
    margin: 10px 0;
}

#forgetandremember{
    text-align: center;
}

#log-modal-btn {
    background-color: #FAAF40;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#log-modal-btn:hover {
    background-color: #fff;
    color: #000;
    border:1px solid #000;
}

.fa-facebook {
    font-size: 30px;
    color: blue;
    padding-right:10px;
    cursor: pointer;
}

.fa-google {
    font-size: 30px;
    color:red;
    cursor: pointer;
}

#not-already-logged {
    margin-top: 20px;
}

.close-btn {
    position: absolute;
    right: 5%;
    top: 0;
    font-size: 30px;
    color: #000;
}

@media all and (min-width: 1024px) { 
    .close-btn {
        display: none;
    }

    #modal {
        width:40%;
        height: 80%;
    }
}

/* MODAL SIGNUP */

#modal-overlay-signup {
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 100;
    display:flex;
    align-items:center;
    justify-content: center;
    display: none;
}

#modal-register {
    position: absolute;
    width:90%;
    height: 90%;
    background-color: #fff;
    text-align: center;
}

#modal-signup {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 50px;
    margin-top: 20px;
    border-bottom: 2px solid #FAAF40;
    display: inline-block;
}

#signup-modal-btn{
    background-color: #FAAF40;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#signup-modal-btn:hover {
    background-color: #fff;
    color: #000;
    border:1px solid #000;
}

#privacy {
    margin-bottom: 20px;
}

@media all and (min-width: 1024px) { 
    #modal-register {
        width:40%;
        height: 80%;
    }
}


footer {
    margin-top: 50px;
    height: auto;
    width: 100%;
    background-color: #041230;
    color: #fff;
    padding: 50px 20px;
}